@page {
    size: A5 portrait;
}
@page middle {
    @bottom-center { content: counter(page) }
}
body {
    background-color: #EFEFEF;
    color: #FFF;
    width: 210mm;
    margin: 0;
    padding: 0;
}
div {
    background-color: #FFF;
    color: #000;
    margin: 10mm;
    padding: 10mm;
    width: 150mm;
    break-before: page;
}
div.front {
    text-align: center;
    page: front;
}
.title {
    margin-top: 50mm;
    margin-bottom: 50mm;
}
div.preface {
    text-align: justify;
    page: front;
}
div.chapter {
    text-align: justify;
    page: middle;
}
div.bibliography {
    text-align: left;
    page: back;
}
ul, dl {
    margin: 5mm;
}
dt, li {
    margin: 2mm;
}
h1, h2, h3, h4, h5, h6, p, dt, dd, li {
    font-family: "Computer Modern Serif", serif;
}
h1, h2, h3 {
    break-after: avoid-page;
}
pre, code {
    font-family: "Computer Modern Typewriter", monospace;
}
pre {
    font-size: 10pt;
    color: #000080;
    margin-left: 5mm;
}
:active, :link, :visited {
    text-decoration: none;
    color: #0066B3;
}
.hl {
    background-color: #FFD;
}
.sink {
    line-height: 10pt;
}
.figure {
    color: #008000;
}
